PORT=

# Logger
LOG_LEVEL=

# Logtail credential
LOGTAIL_TOKEN=
LOGTAIL_ENDPOINT=

# Daily rotate file config
LOGTAIL_FILENAME=
LOGTAIL_DATE_PATTERN=
LOGTAIL_MAX_SIZE=
LOGTAIL_MAX_FILES=
LOGTAIL_ZIPPED_ARCHIVE=